// Cielito Lindo

.cl-cover{
	background: url('../img/cl-cover.jpg') center center/cover no-repeat;
	position: relative;
	margin-bottom: remCalc(48);
	.overlay{
		background-color: rgba(0,0,0, 0.3);
	}
}

.book-container{
	background-color: rgba(0,0,0,.7);
	padding: remCalc(15) remCalc(20);
	margin-bottom: remCalc(24);
	max-width: remCalc(1280); 
	label{
		color: $white;
	}
	.btn{
		width: 100%;
		text-transform: uppercase;  
	}
}


.btn-book {
	color: $btn-info-color;
	background-color: $brand-orange-primary;
	&:hover{
		background-color: darken($brand-orange-primary, 12%);
		color: $white;
	}
	&:active{
		background-color: lighten($brand-orange-primary, 28%);
		&:focus{
			outline: 0 none;
		}
	}
}

// rooms
.room-box{
	position: relative;
	margin: remCalc(18) remCalc(-30) remCalc(50);
	span{
		position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    background: linear-gradient(to right, rgba(0,0,0,.75), rgba(0,0,0,0));
    padding: remCalc(10) remCalc(15);
    color: $white;
	}
}

//politics
.politics{
	margin-bottom: rem-Calc(20);
	ul{
		padding-left: remCalc(18);
	}
}

// Sidebar
.cl-sidebar{
	.box{
		margin-bottom: remCalc(24);
		ul{
			padding-left: remCalc(18);
  		list-style: disc;
		}
		&.promo{
			background-color: $brand-pink-primary;
			color: $white;
			padding: remCalc(15);
		}
	}
}

@media #{$breakpoint-medium} {

	.cl-cover,
	.home-cover{
		height: 75vh;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	.book-container{
		.book-submit{
			position: absolute;
			bottom: -82px;
			width: 100%;
		}
	}

	.room-box{
		margin-left: remCalc(-15);
		margin-right: remCalc(-15);
	}
	
}