<div class="contact">
	<div class="row">
		<div class="col md-12">
			<h3>Visit Us!</h3>
			<p>Receive more information about our shops and stores. If you’d like to book a room for Cielito Lindo, click <a href="{{ site.baseurl }}/cielito-lindo/">here</a>.</p>
		</div>
	</div>
	
	<form action="{{ site.baseurl }}/contactForm.php" method="post" id="contactForm">
		<div class="row">
			<div class="col md-12 form-group">
				<input type="text" name="_name" placeholder="Name" required>
			</div>
			<div class="col md-12 form-group">
				<input type="email" name="_email" placeholder="Email" required>
			</div>
			<div class="col md-12 form-group">
				<input type="tel" name="_phone" placeholder="Contact Number">
			</div>
			<div class="col md-12 form-group">
				<textarea rows="3" name="_message" placeholder="Message" required></textarea>
			</div>
			<div class="col md-12">
			  <button type="submit" class="btn">Contact us</button>
			</div>
		</div>
		<input type="hidden" name="fk">
		<input type="hidden" name="_origin" value="Contact From Cielito Lindo">
		<input type="hidden" id="field_utm_contact" name="field_utm" value="">
	</form>
	<a href="#" id="close-contact">&#215;</a>
</div>