<footer>
	<div class="footer-top">
		<a href="{{ site.baseurl }}" class="footer-logo">
			<img src="{{ site.baseurl }}/assets/img/logo-mediplaza-footer.svg" alt="">
		</a>
		<div class="footer-nav">
			<ul>
				<li {% if page.url == '/shop/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/shop/">shop</a></li>
				<li {% if page.url == '/heal/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/heal/">heal</a></li>
				<li {% if page.url == '/rest/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/rest/cielito-lindo/">Lodging</a></li>
				<li {% if page.url == '/dine/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/dine/">dine</a></li>
				<li class="contact-button"><a href="#">contact</a></li>
			</ul>
		</div>
	</div>
	<div class="footer-bottom">
		<p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
	</div>
</footer>