---
layout: default
---

<section role="content" class="bussines">
	<div class="row">
		<div class="col sm-12">
			<header class="page-header">
			  <h1 class="title">{{ page.name }}</h1>
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col md-6">
			<div class="row">
				<div class="col md-6">
					<img class="avatar" src="{{ site.baseurl }}{{ page.avatar }}" alt="Image for {{ post.title }}">
				</div>
				<div class="details">
					<div class="col md-6">
						{% if page.horary contains '' %}
						<h4>Opening Hours</h4>
						<span>{{ page.days }}</span><br>
						<span>{{ page.horary }}</span><br>
						<span>{{ page.days_extra }}</span><br>
						<span>{{ page.horary_extra }}</span>
						{% endif %}
						{% if page.floor contains '' %}
						<h4>{{ item.floor }} Floor</h4>
						<span>Suite {{ page.local }}</span>
						{% endif %}
						{% if page.phone contains '' %}
						<h4>Phone</h4>
						<span>{{ page.phone }}</span>
						{% endif %}
						{% if page.button contains '' %}
							<a href="{{ page.button_link }}" class="btn btn-orange"><span>{{ page.button }}</span></a>
						{% endif %}
					</div>
					<div class="col md-12 description">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
		<div class="col md-6">
			<div class="gallery">
			{% if page.gallery1 contains '' %}
				<h3>Gallery</h3>
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery1 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery1 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery2 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery2 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery2 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery3 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery3 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery3 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery4 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery4 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery4 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery5 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery5 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery5 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery6 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery6 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery6 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery7 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery7 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery7 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if page.gallery8 contains '' %}
				<div class="col sm-6 md-3">
					<div class="room-box">
						<div class="room-box-thumb">
							<a href="{{ site.baseurl }}{{ page.gallery8 }}" data-lightbox="gallery">
								<img src="{{ site.baseurl }}{{ page.tgallery8 }}" alt="">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<img class="map-zoom" id="zoomMap" src="{{ site.baseurl }}{{ page.locationSmall }}" data-zoom-image="{{ site.baseurl }}{{ page.locationLarge }}" alt="Map MediPlaza" >
		</div>
	</div>
	{% if page.virtual-tour contains '' %}
	<div class="tour-mediplaza" id="tour-virtual">
		<div class="panel-tour">
			<iframe src="{{ site.baseurl }}{{ page.virtual-tour }}" frameborder="0" style="border:0" allowfullscreen></iframe>
			<div class="tour-instructions">
			<h3>Discover Baja Surgery Center</h3>
			<ul>
				<li>Click in the direction you want to walk to.</li>
				<li>Click and drag left, right, up or down in the direction you want your view to go.</li>
				<li>To zoom in or out scroll using your mouse or in the bottom right click + or –</li>
				<li>Explore inside our hotel, medical facilities and restaurants by clicking on the facility you want to see or just walk through the entrance.</li>
				<li>Go to the second and third floors by clicking on the numbers on the bottom right of the screen.</li>
			</ul>
		</div>
	</div>
</div>
	{% endif %}
</section>

