<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN2799N"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% include contact-form.html %}	
	{% include header.html %}	

	<!-- Home Cover -->
	{% if page.url == '/' %}
	<div class="home-cover">
		<div class="overlay">&nbsp;</div>
		<div class="big-logo">
			<img src="{{ site.baseurl }}/assets/img/logo-mediplaza-xl.svg" alt="">
		</div>
	</div>
	<nav role="navigation" class="home-nav">
		<ul>
			<li class="shop">
				<a href="{{ site.baseurl }}/shop/">Go Shop!</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-shop.svg" alt="">
				</div>
			</li>
			<li class="heal">
				<a href="{{ site.baseurl }}/heal/">Go Heal!</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-heal.svg" alt="">
				</div>
			</li>
			<!--  
			<li class="rest">
				<a href="{{ site.baseurl }}/rest/cielito-lindo/">Lodging</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-rest.svg" alt="">
				</div>
			</li>
			-->
			<li class="dine">
				<a href="{{ site.baseurl }}/dine/">Go Dine!</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-dine.svg" alt="">
				</div>
			</li>
		</ul>
	</nav>
	{% endif %}
	<!-- /Home Cover -->

  {{content}}

	{% if page.url == '/' %}
	<div class="map-mediplaza">
		<div class="row">
			<div class="col md-10 md-center">
				<h2 class="title text-center">HEADER CHIDO</h2>
				<div class="col md-12">
					<button class="accordion">Mediplaza Map</button>
					<div class="panel-map">
					  <div class="map-img">
							<img src="{{ site.baseurl }}/assets/img/mediplaza-map-floor1-large.jpg" alt="Map MediPlaza">
						</div>
						<div class="col md-4">
							<h4 class="shop">SHOP</h4>
							<ul>
								<li>La Mexicana</li>
								<li>Natura</li>
								<li>GIOSTAR Mexico</li>
							</ul>
						</div>
						<div class="col md-4">
							<h4 class="heal">HEAL</h4>
							<ul>
								<li>Pure O2</li>
								<li>Mi Casa es su Casa</li>
								<li>GIOSTAR Mexico</li>
							</ul>
						</div>
						<div class="col md-4">
							<h4 class="dine">DINE</h4>
							<ul>
								<li>Mi Casa es su Casa</li>
								<li>My Daily Treat</li>
								<li>Big Bites</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
`
	{% include footer.html %}	
	{% include footer-includes.html %}	
</body>
</html>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + 'px';
    } 
  }
}
</script>