<div class="row book-container">
	<div class="col md-12 md-center">
		<form action="{{ site.baseurl }}/bookForm.php" method="post" id="bookingForm">
			<div class="row">
				<div class="col md-6 lg-2 form-group">
					<label for="">Arrival date</label>
					<input type="text" name="_check_in" id="from" required>
				</div>
				<div class="col md-6 lg-2 form-group">
					<label for="">Departure date</label>
					<input type="text" name="_check_out" id="to" required>
				</div>
				<div class="col md-1 lg-1 form-group">
					<label for="">Party</label>
					<select name="_party" required>
						<option value=""></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="col md-2 lg-1 form-group">
					<label>Room</label>
					<select name="_room" required>
						<option value=""></option>
						<option value="Single">Single</option>
						<option value="Double">Double</option>
						<option value="Junior">Junior</option>
					</select>
				</div>
				<div class="col md-3 lg-2 form-group">
					<label>Name</label>
					<input type="text" name="_name" required>
				</div>
				<div class="col md-3 lg-2 form-group">
					<label>Email</label>
					<input type="email" name="_email" required>
				</div>
				<div class="col md-3 lg-2 form-group">
					<label>Phone</label>
					<input type="text" name="_phone" required>
				</div>
			</div>
			<div class="book-submit">
				<div class="row">
					<div class="col md-4 lg-3 md-center">
						<button type="submit" class="btn btn-orange"><span>Check Availability</span></button>
					</div>
				</div>
			</div><!-- .book-submit -->
			<input type="hidden" name="fk">
			<input type="hidden" name="_origin" value="Booking From Cielito Lindo">
			<input type="hidden" id="field_utm_selfbooking" name="field_utm" value="">
		</form>
	</div>
</div><!-- .book-container -->