<!-- <footer>
	<div class="footer-top">
		<a href="{{ site.baseurl }}" class="footer-logo">
			<img src="{{ site.baseurl }}/assets/img/logo-mediplaza-footer.svg" alt="">
		</a>
		<div class="footer-nav">
			<ul>
				<li {% if page.url == '/shop/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/shop/">shop</a></li>
				<li {% if page.url == '/heal/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/heal/">heal</a></li>
				<li {% if page.url == '/cielito-lindo/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/cielito-lindo/">Lodging</a></li>
				<li {% if page.url == '/dine/' %}class="active" {% endif %}><a href="{{ site.baseurl }}/dine/">dine</a></li>
				<li class="contact-button"><a href="#">contact</a></li>
			</ul>
			<div class="col sm-6 md-6">
				<div class="contact-info align-left">
					CONTACT US<br/>
					(928) 257 1138<br/> 
					<a href="mailto:info@mediplaza.info?Subject=Hello%20Mediplaza" target="_top">info@mediplaza.info</a><br/>
					<br/>
					289 Alamo St.<br/> 
					Los Algodones, B.C. 21970
				</div>
			</div>
			<div class="col sm-6 md-6">
				<div class="social-media text-center">
					FOLLOW US<br/>
					<a href="https://www.facebook.com/MediPlazaLosAlgodones"><img src="{{ site.baseurl }}/assets/img/facebook.svg" alt=""></a>
					<a href="https://twitter.com/MediPlazaMex"><img src="{{ site.baseurl }}/assets/img/twitter.svg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }}</p>
	</div>
</footer> -->
<footer>
	<div class="footer-top">
		<div class="row">
			<div class="col sm-12 md-7 logo-footer">
				<a href="{{ site.baseurl }}">
					<img src="{{ site.baseurl }}/assets/img/logo-mediplaza-footer.svg" alt="">
				</a>
			</div>
			<div class="col sm-12 md-3 contact-info">
				<h4>CONTACT US</h4>
				<a href="tel:9283281814">(928) 328 1814</a><br/>
				<a href="tel:9283281671">(928) 328 1671</a><br/> 
				<a href="mailto:contact@mediplaza.info?Subject=Hello%20Mediplaza" target="_top">contact@mediplaza.info</a><br/>
				<br/>
				289 Alamo St.<br/> 
				Los Algodones, B.C. 21970
			</div>
			<div class="col sm-12 md-2 social-media">
				<h4>FOLLOW US</h4>
				<a href="https://www.facebook.com/MediPlazaLosAlgodones"><img src="{{ site.baseurl }}/assets/img/facebook.svg" alt=""></a>
				<a href="https://twitter.com/MediPlazaMex"><img src="{{ site.baseurl }}/assets/img/twitter.svg" alt=""></a>
				<p class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }}</p>
			</div>
		</div>
	</div>
</footer>