
<!-- {# if page.url != '/' %} -->
<header class="navbar">
	<div class="row">
		<section class="navbar-header">
			<a href="/" class="nav-brand"><img src="{{ site.baseurl }}/assets/img/logo-mediplaza-header.svg" alt="{{ site.title }}"></a>
			<!-- <a href="#" class="navbar-toggle">Menu</a> -->
		</section>

		<nav class="navbar-collapse">
			<ul class="right">
				<li class="shop"><a href="{{ site.baseurl }}/shop/" {% if page.url contains '/shop/' %}class="active" {% endif %}>shop</a></li>
				<li class="heal"><a href="{{ site.baseurl }}/heal/" {% if page.url contains '/heal/' %}class="active" {% endif %}>heal</a></li>
				<li class="dine"><a href="{{ site.baseurl }}/dine/" {% if page.url contains '/dine/' %}class="active" {% endif %}>dine</a></li>
				<li class="lodging"><a href="{{ site.baseurl }}/cielito-lindo/" {% if page.url == '/cielito-lindo/' %}class="active" {% endif %}>Cielito Lindo</a></li>
				<li class="virtual-tour"><a href="{{ site.baseurl }}/virtual-tour/" {% if page.url contains '/virtual-tour/' %}class="active" {% endif %}>virtual tour</a></li>
				<li class="contact-button"><a href="#">contact</a></li>
			</ul>
		</nav>
		
	</div>
</header>
<!-- {# endif %} -->