<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN2799N"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% include contact-form.html %}	
	{% include header.html %}	

	<!-- Home Cover -->
	{% if page.url == '/' %}
	<div class="home-cover">
		<div class="overlay"></div>
		<div class="big-logo">
			<img src="{{ site.baseurl }}/assets/img/logo-mediplaza-xl.svg" alt="">
		</div>
	</div>
	<nav role="navigation" class="home-nav">
		<ul>
			<li class="shop">
				<a href="{{ site.baseurl }}/shop/">Go Shop!</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-shop.svg" alt="">
				</div>
			</li>
			<li class="heal">
				<a href="{{ site.baseurl }}/heal/">Go Heal!</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-heal.svg" alt="">
				</div>
			</li>
			<!--  
			<li class="rest">
				<a href="{{ site.baseurl }}/rest/cielito-lindo/">Lodging</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-rest.svg" alt="">
				</div>
			</li>
			-->
			<li class="dine">
				<a href="{{ site.baseurl }}/dine/">Go Dine!</a>
				<div class="cover-box">
					<img src="{{ site.baseurl }}/assets/img/logo-dine.svg" alt="">
				</div>
			</li>
		</ul>
	</nav>
	{% endif %}
	<!-- /Home Cover -->

  {{content}}

	{% include footer.html %}	
	{% include footer-includes.html %}	
</body>
</html>